<!-- Registration Modal -->
<div class="modal" [ngClass]="openRegisterModal ? 'is-active' : ''">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Registration</p>
            <button (click)="onClickExit()" (click)="onReset()" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <!-- Content ... -->
            <form [formGroup]="createForm" (ngSubmit)="onSubmit" validate>
                <label class="label">Choose Account Type:</label>
                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="userType" value="buyer" formControlName="userType">
                            BUYER
                        </label>
                        <label class="radio">
                            <input type="radio" name="userType" value="seller" formControlName="userType">
                            SELLER
                        </label>
                        <div *ngIf="createForm.get('userType')?.invalid" class="älert alert-danger">
                            <span class="has-text-danger is-size-7">Please choose an account type.</span>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label ">Name</label>
                    <div class="control has-icons-left">
                        <span class="icon is-small is-left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                            <i class="bi bi-person-circle"></i>
                        </span>
                        <input class="input" type="name" placeholder="Han Jisung" formControlName="name" required>
                        <div *ngIf="(name?.dirty || name?.touched)" class="älert alert-danger">
                            <div *ngIf="name?.errors?.required">
                                <p class="has-text-danger is-size-7">Name is required.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label ">Email</label>
                    <div class="control has-icons-left">
                        <span class="icon is-small is-left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-envelope" viewBox="0 0 16 16">
                                <path
                                    d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                            </svg>
                            <i class="bi bi-envelope"></i>
                        </span>
                        <input formControlName="email" class="input" type="email" placeholder="erlito@example.com"
                            required>
                        <div *ngIf="(email?.dirty || email?.touched)" class="älert alert-danger">
                            <div *ngIf="email?.errors?.required">
                                <p class="has-text-danger is-size-7">Email is required.</p>
                            </div>
                            <div *ngIf="email?.errors?.pattern">
                                <p class="has-text-danger is-size-7">That email is not valid.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label ">Password</label>
                    <div class="control has-icons-left">
                        <span class="icon is-small is-left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-key" viewBox="0 0 16 16">
                                <path
                                    d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
                                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                            </svg>
                            <i class="bi bi-key"></i>
                        </span>
                        <input formControlName="password" class="input" type="password" placeholder="********" required>
                        <div *ngIf="(password?.dirty || password?.touched)" class="älert alert-danger">
                            <div *ngIf="password?.errors?.required">
                                <p class="has-text-danger is-size-7">Password is required.</p>
                            </div>
                            <div *ngIf="password?.errors?.pattern">
                                <p class="has-text-danger is-size-7">Password should contain a minimum of 8 characters
                                    with at least 1 number, 1 uppercase letter and 1 symbol</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Phone Number</label>
                    <div class="control field has-addons has-icons-left">
                        <a class="button is-static">
                            +63
                        </a>
                        <p class="control">
                            <span class="icon is-small is-left">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-telephone" viewBox="0 0 16 16">
                                    <path
                                        d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                </svg>
                                <i class="bi bi-telephone"></i>
                            </span>
                            <input formControlName="phoneNumber" class="input" type="phoneNumber"
                                placeholder="+63912345678" required>
                        </p>
                    </div>
                    <p *ngIf="(phoneNumber?.dirty || phoneNumber?.touched)" class="älert alert-danger">
                        <span *ngIf="phoneNumber?.errors?.required" class="has-text-danger is-size-7">
                            Cellphone number is required.</span>
                        <span *ngIf="phoneNumber?.errors?.pattern" class="has-text-danger is-size-7">
                            Please enter your 10-digit phone number.</span>

                </div>


                <!-- <div class="field">
                    <label class="label ">Address</label>
                    <div class="control">
                        <input formControlName="address" class="input" type="address"
                            placeholder="e.g. Street No., Barangay, Town / Municiplaity, City, Province, Country">
                    </div>
                </div> -->
            </form>
        </section>

        <footer class="modal-card-foot">

            <button (click)="onSubmit()" (click)="onReset()" (click)="onClickExit()"
                class="button is-small is-success is-outlined">Register</button>
            <button (click)="onClickExit()" (click)="onReset()"
                class="button is-small is-danger is-outlined">Cancel</button>

        </footer>
    </div>
</div>