<style>
  .limitedText {
    white-space: nowrap;
    overflow: hidden;
    width: 440px; /* adjust according to the length you wish to limit the text */
    text-overflow: ellipsis;
  }
</style>

<app-headerbuyer></app-headerbuyer>

<!-- BACK ARROW -->
<div class="container">
  <nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <li>
      <a routerLink="/marketplace">
        <span class="icon is-small">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-caret-left-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
            />
          </svg>
          <i class="bi bi-caret-left-fill" aria-hidden="true"></i>
        </span>
        <span>Back</span>
      </a>
    </li>
  </nav>
  <div class="container"></div>
</div>

<!-- RESERVATION TITLE -->
<div class="hero mb-2">
  <div class="columns is-mobile">
    <div class="column is-10 is-offset-1">
      <div class="card-container">
        <div class="title is-family-primary has-icons-left">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            fill="currentColor"
            class="bi bi-clipboard-data"
            viewBox="0 0 16 16"
          >
            <path
              d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"
            />
            <path
              d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"
            />
            <path
              d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"
            />
          </svg>
          Reservations
        </div>
      </div>
      <hr style="background-color: #e8e6e6" />
    </div>
  </div>
</div>

<!-- RESERVED ITEMS -->
<div class="columns is-centered is-mobile" *ngFor="let item of reserv_List; index as i">

  <div class="column is-2"></div>
  <div class="column">
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-100x100">
            <div *ngIf="item.service.images?.imageBase64">
              <img class="object-fit_cover" [src]= "item.service.images?.imageBase64" alt="">
            </div>
            <div *ngIf="!item.service.images?.imageBase64">
                <img class="object-fit_cover"  src= "assets/noimg.png" alt="">
            </div>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p
              class="has-text-weight-bold is-size-4 is-marginless"
              readonly
            >
              <!-- notice the class limitedText, when the text is too long, it ends with "..." -->
              <!-- Commission title -->
              {{item.service.commissionname}}
            </p>
            <p
              class="
                text
                has-text-primary
                is-size-5
                has-text-weight-bold
                is-marginless
              "
              readonly
            >
              <!-- Price -->
              ₱{{item.service.price?.toFixed(2)}}
            </p>
            <div class="block">
              <div class="text is-size-6" readonly>
                Seller Name:
                <a class="tag is-white is-light has-text-weight-bold is-small">
                <!-- Name of the Seller -->
                {{item.seller.name}}
                </a>
              </div>
              <div class="text is-size-6" readonly>
                Reservation Status:
                <!-- NGIF -->
                <div
                  class="tag is-warning is-light has-text-weight-bold is-small"
                >
                  {{item.reservationStatus}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- BUTTONS -->
        <div class="media-right">
          <!-- NGIF -->
          <button
            (click)="onClickInfo(item._id)"
            class="button is-primary has-text-weight-bold"
          >
            See Reservation Info
          </button>
        </div>
      </article>
    </div>
  </div>
  <div class="column is-2"></div>
  
</div>

<!-- VIEW RESERVATION MODAL -->

<div class="modal" [ngClass]="showReservation ? 'is-active' : ''">
  <div class="modal-background" (click)="onClickExit()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <div class="column has-text-right is-paddingless is-marginless">
        <button (click)="onClickExit()" class="delete "></button>
      </div>
    </header>
    <div class="modal-card-body">
      <article class="media">
        <div class="media-left">
          <figure class="image">
            <div *ngIf="reservation.service.images?.imageBase64">
              <img class="object-fit_cover" [src]= "reservation.service.images?.imageBase64" alt="">
            </div>
            <div *ngIf="!reservation.service.images?.imageBase64">
                <img class="object-fit_cover"  src= "assets/noimg.png" alt="">
            </div>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p
              class="text has-text-weight-bold is-size-4 is-marginless"
              readonly
            >
              <!-- Commission Name -->
              {{reservation.service.commissionname}}
            </p>
            <p
              class="
                text
                has-text-primary
                is-size-4
                has-text-weight-bold
                is-marginless
              "
              readonly
            >
              <!-- Price -->
              ₱{{reservation.service.price?.toFixed(2)}}
            </p>
            <div class="block">
              <div class="text is-size-6" readonly>
                Seller Name:
                <a class="tag is-white is-light has-text-weight-bold is-small">
                  <!-- Name of the Seller -->
                  {{reservation.seller.name}}
                </a>
              </div>
              <div class="text is-size-6" readonly>
                Reservation Status:
                <div
                  class="tag is-warning is-light has-text-weight-bold is-small"
                >
                  <!-- Waiting for Seller's Approval -->
                  {{reservation.reservationStatus}}
                </div>
              </div>
            </div>        
            <div class="block">
              <p class="text has-text-weight-bold is-size-5">
                Terms & Conditions
              </p>
              <p class="text is-size-7 format">
                {{reservation.service?.terms}}
              </p>
            </div>
          </div>
        </div>
      </article>
      <hr style="background-color:#e8e6e6" class="is-marginless mt-2">
      <div class="block">
        <p class="text is-size-5 has-text-weight-bold mt-2">
          Commission Form
        </p>
        <p class="text is-size-7" *ngIf ="!form">
          Please wait for the seller to upload their commission form.
        </p>
        <div class="text is-size-7" *ngIf ="form">
          Please fill in the Commission Form to finalize your commission and the total amount.
          <a class="pt-3" [href]="form">
            <br>{{reservation.form}}
          </a>
        </div>
        <!----------- FINAL PRICE --------------->
        <div class="text is-size-5 has-text-weight-bold mt-2">
          Total Amount
          <p class="text has-text-danger-dark is-size-4 has-text-weight-bold is-marginless" *ngIf ="totalAmount != 0">
            ₱{{totalAmount.toFixed(2)}}
          </p>
        </div>
        <p class="text is-size-7" *ngIf ="totalAmount == 0">
          Please wait for the seller to input the total amount.
        </p>
      </div>
    </div>
    
    <footer class="modal-card-foot">
      <div *ngIf = "reservation.reservationStatus" class="column has-text-centered is-paddingless is-marginless">
        <button *ngIf = "reservation.reservationStatus == 'Waiting for Approval'" class="button is-link has-text-weight-bold" disabled>
          Pending Approval
        </button>
       
        <button *ngIf = "reservation.reservationStatus == 'Waiting for Approval'" class="button is-danger has-text-weight-bold" (click)="onCancellation(reservation._id)">
          Cancel Reservation
        </button>

        <button *ngIf = "reservation.reservationStatus == 'Invalid' || reservation.reservationStatus == 'Rejected' || reservation.reservationStatus == 'Cancelled' " class="button is-danger has-text-weight-bold" (click)="onRemoval(reservation._id)">
          Remove Reservation
        </button>
        
        <button *ngIf = "reservation.reservationStatus == 'Approved' && totalAmount == 0" 
        class="button is-danger has-text-weight-bold" (click)="onCheckout(reservation._id)" disabled>
          Proceed to Checkout
        </button>

        <button *ngIf = "reservation.reservationStatus == 'Approved' && totalAmount != 0" 
          class="button is-danger has-text-weight-bold" (click)="onCheckout(reservation._id)">
            Proceed to Checkout
        </button>

      </div>
    </footer>
  </div>
</div>

<app-footer></app-footer>
