<app-headerseller></app-headerseller>

<section>
    <!------------ HEADER --------------------->
    <div class="container">
        <div class="column is-10 is-offset-1 ">
            <div class="card-container ">
                <div class="title is-family-primary has-icons-left">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                        <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                    </svg>
                    <i class="bi bi-clipboard-data"></i>
                    Reservations
                </div>  
            </div>
            <p class="ml-5">&nbsp;&nbsp;&nbsp; Requests are awaiting for your confirmation</p>
            <hr style="background-color:#a9c5b2" class=" mt-4 is-marginless">
        
            <div class="block px-6 py-4 is-shadowless has-background-success-light"> 
            <!------------ EACH RESERVATION --------------------->
                <div class="box is-clickable" *ngFor="let item of reserv_List; index as i">
                    <div class="level pb-2 is-marginless">
                        <div class="level-left">
                            <div class="level-item">
                                <p class= "is-size-7 has-text-weight-medium has-text-grey"> 
                                    Reservation ID: {{item._id}}
                                </p>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <div class="is-size-7 has-text-weight-medium is-marginless">
                                    Status:
                                    <div class="tag is-warning is-light has-text-weight-bold">
                                        {{item.reservationStatus}}
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-100x100">
                                <div *ngIf="item.service.images?.imageBase64">
                                    <img class="object-fit_cover" [src]= "item.service.images?.imageBase64" alt="">
                                </div>
                                <div *ngIf="!item.service.images?.imageBase64">
                                    <img class="object-fit_cover"  src= "assets/noimg.png" alt="">
                                </div>
                            </figure>
                        </div>
                        <div class="media-content is-mobile">
                            <div class="content">
                                <p class="limitedText has-text-weight-bold is-size-4">
                                    {{item.service.commissionname}}
                                </p>
                                <p class="is-size-5 has-text-weight-medium is-marginless">
                                    Total:
                                    <span class="text has-text-weight-bold has-text-warning-dark">
                                        ₱ {{item.service.price}}
                                    </span>
                                </p>
                                <div class="block">
                                    <div class="text is-size-6">
                                        Availed by:
                                    <a class="tag is-white is-light has-text-weight-bold is-small">
                                        {{item.buyer.name}}
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!------------ BUTTONS --------------------->
                        <div class="block is-3">
                            <div class="buttons is-right pl-4 ml-4 mt-6 pt-6"
                                *ngIf="item.reservationStatus == 'Cancelled' || item.reservationStatus == 'Rejected' || item.reservationStatus == 'Invalid'">
                                <button class="button is-danger is-outlined has-text-weight-bold" (click) = "removeReservation(item)"> 
                                    REMOVE
                                </button>
                            </div>      
                            <div class="field is-grouped is-grouped-right" *ngIf="item.reservationStatus == 'Waiting for Approval' ">
                                <div class="buttons is-right pl-4 ml-4 mt-6 pt-6">
                                    <button class="button is-success is-hovered has-text-weight-bold"  (click) = "acceptReservation(item)">
                                        ACCEPT
                                    </button>
                                    <button class="button is-danger is-outlined has-text-weight-bold" (click) = "rejectReservation(item)">
                                        REJECT
                                    </button>
                                </div> 
                            </div>  
                            <div class="field is-grouped is-grouped-right" *ngIf="item.reservationStatus == 'Approved'">
                                <a class="text is-size-7 pl-4 ml-4 mt-6 pt-6" (click)="CommissionFormModal(); onClickForm(item)"> 
                                    Once reservation is approved, upload <br>a form for the buyer to fill up,
                                    and input<br> the final price of the commission.
                                </a>
                            </div>  
                        </div>
                    </article>
                    <!----------------- COMMISSION FORM MODAL --------------------->
                    <div class="modal" [ngClass]="openCommFormModal ? 'is-active' : ''">
                        <div class="modal-background" (click)="onClickExit()"></div>
                        <div class="modal-card">
                            <header class="modal-card-head is-paddingless py-2 px-2"> 
                                <div class="column has-text-right is-paddingless is-marginless">
                                    <button (click)="onClickExit()" class="delete "></button>
                                </div>
                            </header>
                            
                            <div class="modal-card-body">
                                <!----------------- COMMISSION FORM --------------------->
                                <div class="field">
                                    <label class="label">Commission Form</label>
                                    <p class="is-size-7">
                                        Upload the link of Commission Form via Google Form to be filled in by the buyer.
                                        Indicate prices of additional features on the commission to finalize the total amount.
                                    </p>
                                    <div class="control">  
                                        <div class="level is-marginless">
                                                <div class="level-item">
                                                    <input class="input mt-2" 
                                                    placeholder="Input link of your Commission Form" type="url"  [value]="comm_link" (input)="inputLink($event)"> 
                                                </div>
                                            
                                            <div class="level-right">
                                                <div class="level-item">
                                                    <div class="buttons is-right mt-2">
                                                        <button class="button is-success has-text-weight-medium" (click)= "saveLink()">
                                                            Save
                                                        </button>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                <!----------------- TOTAL AMOUNT --------------------->
                                <div class="field">
                                    <label class="label">Total Amount</label>
                                    <p class="is-size-7">
                                        Once the buyer has completed the form, indicate the total amount of the commission.
                                    </p>
                                    <div class="control field has-addons mt-2">
                                        <a class="button is-static">₱</a>
                                        <div class="control">
                                            <div class="level is-marginless">
                                                <div class="level-item">
                                                    <input class="input" placeholder="Input total amount" 
                                                        type="number" min="1" [value]="total_Amt" (input)="inputTotalAmt($event)" >
                                                </div>
                                            
                                                <div class="level-right">
                                                    <div class="level-item">
                                                        <div class="buttons is-right">
                                                            <button class="button is-success has-text-weight-medium" (click)= "saveTotalAmt()">
                                                                Save
                                                            </button>
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>

                            <div class="modal-card-foot">
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
</section>



        
  