<style>
    .limitedText {
      white-space: pre-wrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .card-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
    }
  
    .span-spaces {
      padding-left: 5px;
      padding-right: 10px;
    }

</style>

<app-headerseller></app-headerseller>
<section>
    <div class="container">
        <div class="column is-10 is-offset-1 ">
            <div class="card-container ">
                <div class="title is-family-primary has-icons-left">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                        <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                    </svg>
                    <i class="bi bi-clipboard-data"></i>
                    Reservations
                </div>  
            </div>
            <p class="ml-5">&nbsp;&nbsp;&nbsp; Requests are awaiting for your confirmation</p>
            <hr style="background-color:#a9c5b2" class=" mt-4 is-marginless">
        
            <div class="block px-6 py-4 is-shadowless has-background-success-light" > 
            <!------- EACH RESERVATION --------->
                <div class="box" *ngFor="let item of reserv_List; index as i">
                    <div class="level pb-2 is-marginless">
                        <!---->
                        <div class="level-left">
                            <div class="level-item">
                                <p class= "is-size-7 has-text-weight-medium has-text-grey"> 
                                    Reservation ID: {{item._id}}
                                </p>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <div class="is-size-7 has-text-weight-medium is-marginless">
                                    Status:
                                    <!-- NGIF -->
                                    <div class="tag is-warning is-light has-text-weight-bold">
                                    <!--*ngIf="item.status=='Processing'"> -->
                                        {{item.reservationStatus}}
                                    </div>
                                    <!--
                                    <div class="tag is-success has-text-weight-bold is-small"
                                    *ngIf="item.status=='Completed'">
                                        Completed
                                    </div> 
                                    <div class="tag is-danger is-light has-text-weight-bold is-small"
                                    *ngIf="item.status=='Cancelled'">
                                        Cancelled
                                    </div>
                                    -->        
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-100x100">
                                <!-- <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image"/> -->
                                
                                <div *ngIf="item.service.images?.imageBase64">
                                    <img class="object-fit_cover" [src]= "item.service.images?.imageBase64" alt="">
                                </div>
                                <div *ngIf="!item.service.images?.imageBase64">
                                    <img class="object-fit_cover"  src= "assets/noimg.png" alt="">
                                </div>
                            </figure>
                        </div>
                        <div class="media-content is-mobile">
                            <div class="content">
                            <p class="limitedText has-text-weight-bold is-size-4">
                                <!-- notice the class limitedText, when the text is too long, it ends with "..." 
                                {{item.itemname}} -->
                                <!-- Item Name -->
                                {{item.service.commissionname}}
                            </p>
                            
                            <p class="is-size-5 has-text-weight-medium is-marginless">
                                Total:
                                <span class="text has-text-weight-bold has-text-warning-dark">
                                    ₱ {{item.service.price}}
                                </span>
                            </p>
                            <div class="block">
                                <div class="text is-size-6">
                                    Availed by:
                                <a class="tag is-white is-light has-text-weight-bold is-small">
                                    {{item.buyer.name}}
                                </a>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="container is-size-2">
                            <div class="field is-grouped is-grouped-right">
                                <div class="buttons is-right pl-4 ml-4 mt-6 pt-6">
                                    <button class="button is-success is-hovered has-text-weight-bold">
                                        ACCEPT
                                    </button>
                                    <button class="button is-danger is-outlined has-text-weight-bold">
                                        REJECT
                                    </button>
                                </div> 
                            </div>  
                        </div>
                    </article>
        
                    <div class="level is-marginless">
                        <div class="level-left">
                            <!-- <div class="level-item">
                                <p class= "is-size-7 has-text-weight-medium is-right"> 
                                    Reservation Days Remaining: 
                                </p>
                            </div> -->
                        </div>
                        <!--
                        <div class="level-right">
                            <div class="level-item">
                                <div class="field is-grouped is-grouped-right">
                                    <div class="buttons is-centered pl-4 ml-4 ">
                                        <button class="button is-success is-hovered has-text-weight-bold">
                                            ACCEPT
                                        </button>
                                        <button class="button is-danger is-outlined has-text-weight-bold">
                                            REJECT
                                        </button>
                                    </div>   
                                </div>
                            </div>
                        </div>
                        -->
                    </div>  
                </div>

            </div>
        </div>

    </div>
</section>


        
  