<app-headerbuyer></app-headerbuyer>

<div class="hero">
    <div class="columns is-mobile">
        <div class="column is-10 is-offset-1">
            <div class="card-container">
                <span class="span-spaces">
                    <div class="title is-family-primary has-icons-left">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                            <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
                        </svg>
                        Marketplace
                    </div>
                </span>
            </div>
            <hr style="background-color:#e8e6e6">
        </div> 
    </div>
</div>

<div class="hero-body">
    <div class="columns is-centered">
        <div class="column is-3">
            <div class="field has-addons">
                <div class="control">
                  <div class="select">
                    <select name="category">
                      <option value="Argentina">All Items</option>
                      <option value="Argentina">Products Only</option>
                      <option value="Bolivia">Commissions Only</option>
                    </select>
                  </div>
                </div>
                <div class="control">
                  <button type="submit" class="button is-primary">Choose</button>
                </div>
              </div>
        </div>
        <div class="column is-5">
            <div class="field has-addons">
                <p class="control is-expanded">
                <input class="input" type="text" placeholder="Search for Item">
                </p>
                <p class="control">
                <a class="button is-warning">
                    Search
                </a>
                </p>
            </div>
        </div>
    </div> 

    <div class="columns is-multiline is-mobile is-centered">
        <div class="column is-3">
            <div class="card"> 
                <a class="card-image">
                    <figure class="image is-3by2">
                        <img class="object-fit_cover" src="" alt="">
                    </figure>
                </a>
                <div class="card-content">
                    <p class="text has-text-primary is-size-5 has-text-weight-bold" readonly>
                        ₱ 1770.36
                    </p>
                    <p class="text has-text-weight-bold" readonly>
                        Moderna
                    </p>
                    <div class="content">
                        Made in the USA
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card"> 
                <a class="card-image">
                    <figure class="image is-3by2">
                        <img class="object-fit_cover" src="" alt="">
                    </figure>
                </a>
                <div class="card-content">
                    <p class="text has-text-primary is-size-5 has-text-weight-bold" readonly>
                        ₱ 1435.43
                    </p>
                    <p class="text has-text-weight-bold" readonly>
                        Sinovac
                    </p>
                    <div class="content">
                        Made in China
                    </div>
                </div>
            </div>
        </div> 
        <div class="column is-3">
            <div class="card"> 
                <a class="card-image">
                    <figure class="image is-3by2">
                        <img class="object-fit_cover" src="" alt="">
                    </figure>
                </a>
                <div class="card-content">
                    <p class="text has-text-primary is-size-5 has-text-weight-bold" readonly>
                        ₱ 956.77
                    </p>
                    <p class="text has-text-weight-bold" readonly>
                        Sputnik V
                    </p>
                    <div class="content">
                        Made in Russia
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns is-multiline is-mobile is-centered">
        <div class="column is-3">
            <div class="card"> 
                <a class="card-image">
                    <figure class="image is-3by2">
                        <img class="object-fit_cover" src="" alt="">
                    </figure>
                </a>
                <div class="card-content">
                    <p class="text has-text-primary is-size-5 has-text-weight-bold" readonly>
                        ₱ 1105.67
                    </p>
                    <p class="text has-text-weight-bold" readonly>
                        Johnson & Johnson
                    </p>
                    <div class="content">
                        Made in Belgium
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card"> 
                <a class="card-image">
                    <figure class="image is-3by2">
                        <img class="object-fit_cover" src="" alt="">
                    </figure>
                </a>
                <div class="card-content">
                    <p class="text has-text-primary is-size-5 has-text-weight-bold" readonly>
                        ₱ 403.25
                    </p>
                    <p class="text has-text-weight-bold" readonly>
                        AstraZeneca
                    </p>
                    <div class="content">
                        Made in the United Kingdom
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>