<app-headerseller></app-headerseller>

<div class="container">
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <li><a routerLink="/seller-shop">
            <span class="icon is-small">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                  </svg>
                  <i class="bi bi-caret-left-fill" aria-hidden="true"></i>
              </span>
              <span>Back to Seller Shop</span> 
          </a></li>
    </nav>
</div>
<div class="hero-body">
    <div class="columns is-mobile">
        <div class="column is-10 is-offset-1">
            <div class="card-container">
                <span class="span-spaces">
                    <div class="title is-family-primary has-icons-left">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" fill="currentColor" class="bi bi-easel" viewBox="0 0 16 16">
                            <path d="M8 0a.5.5 0 0 1 .473.337L9.046 2H14a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1.85l1.323 3.837a.5.5 0 1 1-.946.326L11.092 11H8.5v3a.5.5 0 0 1-1 0v-3H4.908l-1.435 4.163a.5.5 0 1 1-.946-.326L3.85 11H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h4.954L7.527.337A.5.5 0 0 1 8 0zM2 3v7h12V3H2z"/>
                        </svg>
                        <i class="bi bi-easel"></i>
                        Create Portfolio 
                    </div>
                </span>
                <div class="container">
                    <div class="buttons is-right">
                        <button (click)= "onClickAddArtwork()" class="button is-danger is-small"> <strong>ADD ARTWORK</strong></button>
                    </div>
                </div>
            </div>
            <p class="ml-6">Showcase up to 12 of your best quality of works</p>
            <hr style="background-color:#e8e6e6">
            
            
            <!-- ARTWORK SECTION  -->
            <div class="columns is-multiline is-mobile" >
                <div *ngIf="portfolioList.length == 0" class="column is-half is-offset-one-quarter is-paddingless">
                    <img  class=" is-horizontal-center has-ratio" width="540" height="260" src= "assets/empty1.png">
                </div>
                <!-- EACH ARTWORK -->
                <div class="column is-4" *ngFor="let item of portfolioList; index as i">
                    <div class="card"> 
                        <a class="card-image">
                            <figure class="image is-3by2" (click)="onClickOpen(item, i)">
                                <div *ngIf="item.images?.imageBase64">
                                    <img class="object-fit_cover" [src]= "item.images.imageBase64">
                                </div>
                                <div *ngIf="!item.images?.imageBase64">
                                    <img class="object-fit_cover"  src= "assets/noimg.png" alt="">
                                </div>
                            </figure>
                        </a>
                        <div class="card-content">
                            <p class="text has-text-weight-bold" readonly>
                                {{item?.artworkname }}
                            </p>
                            <div class="content">
                                {{item?.description}}
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a (click)="onClickEditArtwork(item)" class="card-footer-item">Edit</a>
                            <a (click)="onClickDelete(item, i)" class="card-footer-item" value="delete" type="delete">Delete</a>
                        </footer>
                    </div>
                </div> 

            </div>
        </div> 
    </div>
</div>

<app-portfolio-artwork [openEditArtworkModal] = 'showEditArtworkModal' [openAddArtworkModal] = 'showAddArtworkModal'  (exited)="OnReload($event)" (exitedadd)="OnReloadadd($event)" ></app-portfolio-artwork>
<app-footer></app-footer>

<!-- IMAGE MODAL -->
<div class="modal" [ngClass]="openImageModal ? 'is-active' : ''">
    <div class="modal-background" (click)="onClickExit()"></div>
    <div class="modal-content">
        <p class="image" *ngIf="imageSRC">
            <img [src]="imageSRC" alt="">
        </p>
        <p class= "image" *ngIf="!imageSRC">
            <img class="object-fit_cover"  src= "assets/noimg.png" alt="">
        </p>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="onClickExit()"></button>
</div>

<!-- DELETE MODAL -->
<div class="modal" [ngClass]="openDeleteModal ? 'is-active' : '' ">
    <div class="modal-background" (click)="onClickExit()"></div>
    <div class="notification is-outline">
        <button (click)="onClickExit()" class="delete"></button>
        <p class="mt-4">Are you sure you want to delete this item?</p>
        <footer class="px-3 py-2 mt-4">
            <div class="buttons is-centered px-4 mx-5 ">
                <button (click)="onClickExit()" class="button is-danger is-outlined">Cancel</button>
                <p class="pl-4">
                <button (click)="onClickSureDelete()" class="button is-success is-outlined"> Delete</button>
            </div>    
        </footer>  
    </div>   
</div>

<!-- MAX MODAL -->
<div class="modal" [ngClass]="openMaxModal ? 'is-active' : ''">
    <div class="notification is-danger" >
        <button (click)="onClickExit()" class="delete"></button>
        <div class="container has-text-centered"> 
            <span class="icon is-inline-block is-centered">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
                <i class="bi bi-x-circle"></i>
            </span>
            <p class="text is-centered ml-5 my-4 size-4">
                <strong>&emsp;&emsp;Sorry!</strong> 
                <br>You have reached the maximum number of artworks in Portfolio. 
                <br>Delete some artworks to add a new one.</p>
        </div>      
    </div> 
</div>