<app-headerbuyer></app-headerbuyer>
<!-- header-->

<div class="columns the-header is-marginless">
  <div class="column is-6 is-offset-3 is-12-mobile">
    <img class="header-background" src="https://unsplash.it/1000/1000/?random&pic=1" id="header-background-id" alt="background-img">
  </div>
</div>

<div class="column is-12 has-text-centered">
  <div *ngIf = "imageSRC">
    <img class="profile-picture" [src]= "imageSRC" alt="profile-picture">
  </div>
  <div *ngIf = "!imageSRC">
    <img class="profile-picture" src="assets/noprofpic.png" alt="profile-picture">
  </div>
  <p class="title py-1">
    {{user?.name}}
  </p>
</div>
<!--------------- RATING ------------------->
<div class="column is-centered is-half is-offset-one-quarter has-text-centered">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="text is-size-4">

        <!-- starchecked makes star orange-->
        <!-- star rating must be based on a value-->
        <span class="fa fa-star starchecked"></span>
        <span class="fa fa-star starchecked"></span>
        <span class="fa fa-star starchecked"></span>
        <span class="fa fa-star starchecked"></span>
        <span class="fa fa-star "></span>
        &nbsp;
        <!-- Number of People who have rated this item -->
        <div class="tag is-warning is-dark is-medium has-text-weight-semibold">
            2 &nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
        </div>
  </div>
</div>

<!--------------------- TABS --------------------->
<div class="column is-8 is-offset-2 mt-5 is-paddingless">
  <hr style="background-color:#e8e6e6" class="is-marginless">
  <div class="tabs is-boxed is-centered is-fullwidth">
    <ul>
      <li data-target="home" value="Home">
        <a class="has-text-weight-medium">
          Home
        </a>
      </li>
      <li data-target="portfolio" value="Portfolio" (click)="onClickPortfolio()">
        <a class="has-text-weight-medium">
          Portfolio
        </a>
      </li>

      <li data-target="product" value="Product" (click)="onClickProduct()">
        <a class="has-text-weight-medium">
          All Products
        </a>
      </li>

      <li data-target="commission" value="Commission" (click)="onClickCommission()">
        <a class="has-text-weight-medium">
          All Commissions
        </a>
      </li>

    </ul>
  </div>
</div>


<div class="column is-8 is-offset-2 is-paddingless has-background-success-light"
  id="tab-content">
  <!----------- TAB | ALL ------------------->
  <div class="block" id="home">
    <p class="subtitle has-text-weight-bold pt-4 pl-6">
      About Shop
    </p>
    <div class="column is-10 is-offset-1 ">
      {{user?.description}}
      <!--
        Hi! I'm a self-learned full-stack developer from University of the Philippines- Cebu.
        I'm comfortable working on Angular framework and my main tech stack is MEAN stack.
        I'm also proficient in Python and C++ languages. 
        I have also worked with software companies Oracle, Accenture and Alliance Software Inc.
        -->
    </div>
    <!------ IMAGE SLIDER FOR PORTFOLIO ----------->
    <div class="subtitle has-text-weight-bold pt-4 pl-6 is-marginless">
      Sample Works
    </div>
    
    <div class="column">
      <div class="container px-6 pb-6">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <figure class="image is-2by1">
                <img class="object-fit_cover" src="assets/smologo.png">
              </figure>    
            </ng-template> 
      
            <ng-template carouselSlide>
              <figure class="image is-2by1">
                <img class="object-fit_cover" src="https://unsplash.it/1000/1000/?random&pic=1">
              </figure>
            </ng-template> 
      
            <ng-template carouselSlide>
              <figure class="image is-2by1">
                <img class="object-fit_cover" src="https://unsplash.it/1000/1000/?random&pic=1">
              </figure>
            </ng-template>  
      
        </owl-carousel-o>
      </div>
      
      <div class="container">
        <div class="owl-carousel">
        <div class="slides"><img src="https://unsplash.it/400/300/?image=121" alt="img1" /></div>
        <div class="slides"><img src="https://unsplash.it/400/300/?image=232" alt="img1" /></div>
        <div class="slides"><img src="https://unsplash.it/400/300/?image=343" alt="img1" /></div>
        <div class="slides"><img src="https://unsplash.it/400/300/?image=454" alt="img1" /></div>
        </div>
        <div id="counter"></div> 
      </div>
  
    </div>
  </div>
  
  

  <!------------- TAB | PORTFOLIO ------------------->
  <div class="block px-4 pt-5 is-hidden" id="portfolio">
    <div class="columns is-multiline is-mobile" >
      <!-- EACH ARTWORK -->
      <div class="column is-6 is-paddingless" *ngFor="let item of portfolioList; index as i">
        <div class="block mx-2 my-3"> <!-- <div class="box is-paddingless mx-2 my-2"> -->
          <!--<div class="has-background-white"> -->
            <figure class="image is-5by4" (click)="onClickOpen(item, i)">
              <div *ngIf="item.images?.imageBase64" class="is-clickable">
                  <img class="object-fit_contain" [src]= "item.images.imageBase64">
              </div>
              <div *ngIf="!item.images?.imageBase64">
                  <img class="object-fit_contain"  src= "assets/noimg.png" alt="noimage">
              </div>
            </figure>
            <div class="block has-text-centered px-1 py-1">
              <p class="subtitle has-text-weight-bold" readonly>
                {{item?.artworkname }}
              </p>
                {{item?.description}}
            </div>
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>

  <!------------- TAB | ALL PRODUCTS ------------------->
  <div class="block px-4 pt-5 is-hidden" id="product">
    <div class="columns is-multiline is-mobile is-paddingless">
      <div
        class="column is-3"
        *ngFor="
          let item of productList">
                <!--*ngFor="
          let item of productList
              | paginate: {
                  id: 'listing_pagination',
                  itemsPerPage: 12,
                  currentPage: page.value,
                  totalItems: totalRecords
                } ">-->
        <div class="card">
          <a (click)="ViewProduct(item)" class="card-image">
            <figure class="image is-3by2">
              <div *ngIf="item.images?.imageBase64">
                <img class="object-fit_cover" [src]="item.images.imageBase64" />
            </div>
              <div *ngIf="!item.images?.imageBase64">
                <img class="object-fit_cover"  src= "assets/noimg.png" alt="">
              </div>
            </figure>
          </a>
          <div class="card-footer">
            <div class="tags has-addons">
              <div
                class="tag is-link is-light has-text-weight-bold is-small">
                {{ item.category }}
              </div>
            </div>
          </div>
          <div class="card-content" style="padding: 0.5rem 1.5rem 1.5rem">
            <p class="text has-text-weight-bold">
              {{ item.productname }}
            </p>
            <p
              class="text has-text-primary is-size-5 has-text-weight-bold">
              ₱{{ item.price }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!------------- TAB | ALL COMMISSIONS ------------------->
  <div class="block px-4 pt-5 is-hidden" id="commission">
    <div class="columns is-multiline is-mobile is-paddingless">
      <div
        class="column is-3"
        *ngFor="
          let item of commissionList">
                <!--*ngFor="
          let item of productList
              | paginate: {
                  id: 'listing_pagination',
                  itemsPerPage: 12,
                  currentPage: page.value,
                  totalItems: totalRecords
                } ">-->
        <div class="card">
          <a (click)="ViewCommission(item)" class="card-image">
            <figure class="image is-3by2">
              <div *ngIf="item.images?.imageBase64">
                <img class="object-fit_cover" [src]="item.images.imageBase64" />
            </div>
              <div *ngIf="!item.images?.imageBase64">
                <img class="object-fit_cover"  src= "assets/noimg.png" alt="">
              </div>
            </figure>
          </a>
          <div class="card-footer">
            <div class="tags has-addons">
              <div
                class="tag is-link is-light has-text-weight-bold is-small">
                {{ item.category }}
              </div>
            </div>
          </div>
          <div class="card-content" style="padding: 0.5rem 1.5rem 1.5rem">
            <p class="text has-text-weight-bold">
              {{ item.commissionname }}
            </p>
            <p
              class="text has-text-primary is-size-5 has-text-weight-bold">
              ₱{{ item.price }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!------------------- IMAGE MODAL ----------------------------->
<div class="modal" [ngClass]="openImageModal ? 'is-active' : ''">
  <div class="modal-background" (click)="onClickExit()"></div>
  <div class="modal-content">
      <p class="image" *ngIf="imageSRC">
          <img [src]="imageSRC_artwork" alt="">
      </p>
      <p class= "image" *ngIf="!imageSRC_artwork">
          <img class="object-fit_cover"  src= "assets/noimg.png" alt="">
      </p>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="onClickExit()"></button>
</div>




  
