<app-headerbuyer></app-headerbuyer>

<!-- LOGO -->
<section class="hero is-halfheight is-paddingless">
    <div class="hero-body py-6 is-paddingless" id="alampat">
      <div class="container has-text-centered">
        <p class="title is-size-2 has-text-weight-medium is-family-primary">
            About Us
        </p>
        <figure class="image has-ratio px-6 mx-3">
          <img src="assets/logo.png">
        </figure>
      </div>
      </div>
</section>

<!-- DESCRIPTION -->
<div class="columns is-centered is-mobile is-multiline">
    <div class="column is-1"></div>
    <div class="column">
        <div class="block">
            <p class="text is-size-5 has-text-justified">
                The project “ALAMPAT” is a consumer-to-consumer (C2C) e-commerce application that aims to develop an online marketplace for handmade goods, art merchandise, and art commission services (i.e., customizations). This will help local and independent artists, crafters, and crafts shops to sell and advertise their products and services in a wider market with easy and convenient purchasing transactions for consumers during the pandemic.  Transactions for deliveries and Cash on Delivery (COD) payments will be facilitated by local courier services, and for cashless or electronic payments will be handled through the payment service provider.
            </p>
            &nbsp;
            <p class="text is-size-5 has-text-justified">
                The project idea caters to the local independent artists to promote their art and crafts in the online market in Cebu. The platform allows independent artists and crafters to set up an online shop/store to sell handmade products or services. This gives opportunity to the artists to reach a bigger audience and increase their revenue. The platform also provides convenience to consumers looking for unique items and customization services.
            </p>
        </div>
    </div>
    <div class="column is-1"></div>
</div>
&nbsp;

<!-- DEVELOPERS -->
<div class="block">
    <p class="title has-text-centered is-size-4 has-text-weight-medium">
        Meet the Team
    </p>
</div>
<div class="columns is-centered is-mobile is-multiline">
    <div class="column is-1"></div>
    <div class="column">
        <div class="box has-text-centered">
            Casey Gwyn Dable
        </div>
    </div>
    <div class="column">
        <div class="box has-text-centered">
            Jaira Loi Marimon
        </div>
    </div>
    <div class="column has-text-centered">
        <div class="box">
            Carl Josiah Ocampo
        </div>
    </div>
    <div class="column is-1"></div>
</div>
<div class="columns is-centered is-mobile is-multiline">
    <div class="column is-one-quarter"></div>
    <div class="column is-one-quarter">
        <div class="box has-text-centered">
            Earl John Tagalog
        </div>
    </div>
    <div class="column is-one-quarter">
        <div class="box has-text-centered">
            Carl David Reyes
        </div>
    </div>
    <div class="column is-one-quarter"></div>
</div>




<app-footer></app-footer>