<app-headerseller></app-headerseller>

<!-- TTILE-->
<section>
    <div class="container">
        <div class="tile is-ancestor ">
            <div class="tile is-8 is-parent">
                <div class="tile is-3 is-child"><!--EMPTY SPACE--></div>
                <div class="tile is-6 is-child">
                    <p class="title">
                        Seller Shop
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SELLER SHOP INFO -->
<section class="section">
    <div class="columns is-mobile is-centered">
        <div class="box" style="width: 800px">
            <div class="field">
                <label class="label ">Create Portfolio</label>
    
            </div>
        </div>
    </div>
    &nbsp;
    <div class="columns is-mobile is-centered">
        <div class="box" style="width: 800px">
            <div class="field">
                <label class="label ">My Products</label>
            
            </div>
        </div>
    </div>
    &nbsp;
    <div class="columns is-mobile is-centered">
        <div class="box" style="width: 800px">
            <div class="field">
                <label class="label ">My Services</label>
            
            </div>
        </div>
    </div>
    &nbsp;
    <div class="columns is-mobile is-centered">
        <div class="box" style="width: 800px">
            <div class="field">
                <label class="label ">Shop Rating</label>
            
            </div>
        </div>
    </div>
</section>