.card-container {
    display: flex;
    flex-wrap: wrap;
}

.span-spaces {
    padding-left: 5px;
    padding-right: 30px;
}

.object-fit_cover {
    object-fit: contain;
}

.format {
    white-space: pre-wrap;
}

.show-less {
    height: 2rem;
    overflow: hidden;
}

.show {
    overflow: visible;
    height: auto;
}