<!-- copy pasta is da best pasta -->
<app-headerbuyer></app-headerbuyer>

<div class="container">
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <li><a [routerLink]="['/marketplace']">
            <span class="icon is-small">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                  </svg>
                  <i class="bi bi-caret-left-fill" aria-hidden="true"></i>
              </span>
              <span>Back</span> 
          </a></li>
    </nav>
</div>
<!--
<div class="hero">

    Category, Search Bar, Cart 
    <div class="columns is-centered">
        <div class="column is-one-fifth">
            <div class="field has-addons">
                <div class="control pr-1">
                    <div class="select is-fullwidth">
                        <select name="category">
                            <option value="All">All Items</option>
                            <option value="Products">Products Only</option>
                            <option value="Commissions">Commissions Only</option>
                        </select>
                    </div>
                </div>
                <div class="control">
                    <button type="submit" class="button is-primary has-text-weight-bold">
                        Categorize
                    </button>
                </div>
            </div>
        </div>
        <div class="column is-4 has-text-right">
            <div class="field has-addons">
                <p class="control is-expanded">
                <input class="input" type="text" placeholder="What are you looking for?">
                </p>
                <p class="control">
                    <a class="button is-warning has-text-weight-bold">
                        Search
                    </a>
                </p>
            </div>
        </div>

        CART and RESERVATIONS
        <div class="column is-narrow has-text-centered">
            <a title="Cart">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                </svg>
            </a>
            &nbsp;
            <a title="Reservations">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                    <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                  </svg>
            </a>
        </div>
    </div>
</div> 
-->
<div class="hero-body">
    <div class="columns is-centered is-multiline">
        <div class="column is-1"></div>
        <div class="column">
            <article class="media">
                <figure class="media-left">
        <!-- IMAGE SLIDESHOW -->            

            <div class="slideshow">
                <input type="radio" name="images" id="i1" checked>
                <input type="radio" name="images" id="i2">
                <input type="radio" name="images" id="i3">
                <input type="radio" name="images" id="i4">
                <input type="radio" name="images" id="i5">
                <input type="radio" name="images" id="i6">
                <input type="radio" name="images" id="i7">
                <input type="radio" name="images" id="i8">
                <input type="radio" name="images" id="i9">
                <input type="radio" name="images" id="i10">
                
                <!-- FIRST IMAGE -->
                <div class="slide_img" id="one">
                    <div class="container">
                        <div *ngIf="prod_item.images[0]?.imageBase64">
                            <img style="height:414px; width:414px; object-fit:cover;" [src] = "prod_item.images[0].imageBase64" (click)="onClickOpen(0)" alt="image">
                        </div>
                        <div *ngIf="!prod_item.images[0]?.imageBase64">
                            <img style="height:414px; width:414px; object-fit:cover;"  src= "assets/noimg.png" (click)="onClickOpen(0)" alt="">
                        </div>
                    </div>
                    <label for="i10" class="prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                          </svg>
                    </label>
                    <label for="i2" class="next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                          </svg>
                    </label>
                </div>


                <div class="navi">
                    <label class="dots" id="dot1" for="i1"></label>
                    <label class="dots" id="dot1" for="i2"></label>
                    <label class="dots" id="dot1" for="i3"></label>
                    <label class="dots" id="dot1" for="i4"></label>
                    <label class="dots" id="dot1" for="i5"></label>
                    <label class="dots" id="dot1" for="i6"></label>
                    <label class="dots" id="dot1" for="i7"></label>
                    <label class="dots" id="dot1" for="i8"></label>
                    <label class="dots" id="dot1" for="i9"></label>
                    <label class="dots" id="dot1" for="i10"></label>
                </div>
            </div>

            </figure>
        &nbsp;&nbsp;
        <!-- COMMISSION DETAILS -->
            <div class="media-content">
            <div class="block">
                <!-- I suggest that there must be a character limit for the Item Name-->
                <p class="text is-size-3 has-text-weight-bold" readonly>
                    {{prod_item.itemname}} 
                </p>
                <p class="text has-text-primary is-size-3 has-text-weight-bold" readonly>
                    ₱ {{prod_item.price}}
                </p>
                &nbsp;
                <div class="block">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <div class="text is-size-5" readonly>
                        Ave. Rating: &nbsp;
                            <!-- starchecked makes star orange-->
                            <!-- star rating must be based on a value-->
                            <span class="fa fa-star starchecked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            &nbsp;
                            <!-- Number of People who have rated this item -->
                            <div class="tag is-warning is-medium has-text-weight-semibold">
                                69&nbsp;
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                  </svg>
                            </div>
                    </div>
                </div>
                <div class="block">
                    <div class="text is-size-6" readonly>
                        Category: 
                        <div class="tag is-danger is-light has-text-weight-bold is-small">
                            {{prod_item.category}}
                        </div>
                    </div>
                    <div class="text is-size-6" readonly>
                        Stocks:
                        <div class="tag is-success is-light has-text-weight-bold is-small">
                            {{prod_item.stock}} stock/s left
                        </div>
                    </div>
                </div>
                <!-- Buttons -->
                <div class="buttons is-centered">
                    <button *ngIf="prod_stock == 0" class="button is-medium is-danger has-text-weight-bold" disabled>
                        Sold Out
                        &nbsp;
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                        </svg>
                    </button>
                    
                    <button *ngIf="prod_stock != 0" (click)="addtoCart(prod_item)" class="button is-medium is-danger has-text-weight-bold">
                        Add to Cart
                        &nbsp;
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                        </svg>
                    </button>
                    <!--
                    <button class="button is-medium is-info is-light is-outlined has-text-weight-bold">

                        Chat
                        &nbsp;
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="42" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                          </svg>
                    </button>
                    -->

                </div>
                <div class="card is-shadowless has-background-success-light mt-5 pt-1">
                    <div class="columns">
                        <div class="column is-2 ml-4 mt-1">
                            <figure class="image is-64x64">
                                <div  *ngIf="prod_item.profileImage">
                                    <img class="profileImage"
                                    [src]="prod_item.profileImage">
                                </div>
                                <div *ngIf="!prod_item.profileImage">
                                    <img class="profileImage"  src= "assets/noprofpic.png" alt="">
                                </div>
                            </figure>
                        </div>

                        <div class="column is-narrow">
                            <div class="text is-size-6" readonly>
                                Seller Name: 
                                <a class="tag is-white is-light has-text-weight-bold is-medium">
                                    {{prod_item.sellername}}
                                </a>
                            </div>
                            <div class="text is-size-6" readonly>
                                Shop Rating: &nbsp;
                                <!-- starchecked makes star orange-->
                                <!-- star rating must be based on a value-->
                                <span class="fa fa-star starchecked"></span>
                                <span class="fa fa-star starchecked "></span>
                                <span class="fa fa-star starchecked "></span>
                                <span class="fa fa-star starchecked"></span>
                                <span class="fa fa-star starchecked"></span>
                                &nbsp;
                            </div>
                        </div>
                    </div>           
                </div>
            </div>
        </div>
        </article>
        
    </div>
    <div class="column is-1"></div>
    </div>
    <div class="columns is-centered is-multiline">
        <div class="column is-9">
            <hr style="background-color:#e8e6e6">
            <div class="box is-shadowless">
                <div class="text is-size-5 has-text-weight-bold mb-3 pl-5" readonly>
                    Product Description
                </div>
                <div class="text is-size-6 pl-5" readonly>
                    {{prod_item.description}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- IMAGE MODAL -->
<div class="modal" [ngClass]="openImageModal ? 'is-active' : ''">
    <div class="modal-background" (click)="onClickExit()"></div>
    <div class="modal-content">
        <p class="image" *ngIf="imageSRC">
            <img [src]="imageSRC" alt="">
        </p>
        <p class= "image" *ngIf="!imageSRC">
            <img  src= "assets/noimg.png" alt="">
        </p>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="onClickExit()"></button>
</div>