<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<!--------------- TABS ------------------->
<hr style="background-color:#e8e6e6" class="is-marginless">
<div class="tabs is-boxed is-centered is-fullwidth has-background-success-light">
    
    <ul>
        <li class="is-active" data-target="order-all" value="All">
            <a class="has-text-weight-medium"  (click)= "ChangeTab('All')"> 
                All
            </a>
        </li>

        <li data-target="order-processing" value="Processing">
            <a class="has-text-weight-medium" (click)= "ChangeTab('Processing')">
                Processing
            </a>
        </li>

        <li data-target="order-completed" value="Completed">
            <a class="has-text-weight-medium" (click)= "ChangeTab('Completed')">
                Completed
            </a>
        </li>

        <li data-target="order-cancelled" value="Cancelled">
            <a class="has-text-weight-medium" (click)= "ChangeTab('Cancelled')">
                Cancelled
            </a>
        </li>

    </ul>
</div>

<div *ngIf="orderdata.length == 0" class="column is-half is-offset-one-quarter is-paddingless">
    <img  class="is-horizontal-center has-ratio" width="540" height="260" src= "assets/empty1.png">
</div>
<!------------------------ ORDER ITEMS -------------------------------->
<div class="column" *ngFor=" let item of orderdata" >
    <div class="box is-clickable" (click)="onClickOrderDetails(item)">
        <div class="level is-marginless">
            <div class="level-left">
                <div class="level-item">
                    <p class= "is-size-7 has-text-weight-medium"> 
                        Order ID: {{item._id}} 
                    </p>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <div class="is-size-7 has-text-weight-medium is-marginless">
                        Order Status:
                        <div class="tag is-warning is-light has-text-weight-bold" 
                        *ngIf="item.orderStatus=='P'">
                            Processing
                        </div>
                        <div class="tag is-success has-text-weight-bold is-small"
                        *ngIf="item.orderStatus=='Co'">
                            Completed
                        </div> 
                        <div class="tag is-danger is-light has-text-weight-bold is-small"
                        *ngIf="item.orderStatus=='Ca'">
                            Cancelled
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <article class="media">
            <div class="media-left">
                <figure class="image is-100x100">
                    <div *ngIf="item.reservation?.service?.images?.imageBase64">
                        <img class="object-fit_cover" [src]="item.reservation?.service?.images?.imageBase64" alt="Image"/>
                    </div>
                    <div *ngIf="!item.reservation?.service?.images?.imageBase64">
                        <img class="object-fit_cover"  src= "assets/noimg.png" alt="NoImage">
                    </div>
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                <p class="limitedText has-text-weight-bold is-size-4">
                    {{item.reservation?.service?.commissionname}} 
                </p>
                
                <p class="is-size-5 has-text-weight-medium is-marginless">
                    Total:
                    <span class="text has-text-weight-bold has-text-primary">
                        ₱ {{item.reservation?.totalAmount?.toFixed(2)}} 
                    </span>
                </p>
                <div class="block">
                    <div class="text is-size-6">
                        Seller Name:
                    <a class="tag is-white is-light has-text-weight-bold is-small">
                        {{item.reservation?.seller?.name}}
                    </a>
                    </div>
                </div>
                </div>
            </div>
        </article>

        <div class="level is-marginless">
            <div class="level-left">
                <div class="level-item">
                    <div class="tags has-addons is-marginless">
                        
                        <div class="tag is-link is-light has-text-weight-bold is-small" 
                            *ngIf="item.orderType == 'Product'"> 
                            Product
                        </div>
                        <div class="tag is-danger is-light has-text-weight-bold is-small" 
                            *ngIf="item.orderType == 'Commission'"> 
                            Commission
                        </div>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <div class="field is-grouped is-grouped-right">
                        <div class="buttons is-centered pl-4 ml-4" *ngIf = "item.orderStatus=='P'">
                            <button class="button is-success is-hovered has-text-weight-bold">
                                RECEIVED
                            </button>
                            <button class="button is-danger is-outlined has-text-weight-bold">
                                CANCEL
                            </button>
                        </div> 
                        <button class="button is-success  is-outlined has-text-weight-bold" *ngIf = "item.orderStatus=='Co'">
                            RATE
                        </button> 
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>

<div class="buttons is-centered pl-4 ml-4 mt-4">
    <button  *ngIf = "load === 'true'"  class="button is-hovered has-text-weight-bold" (click)= "LoadMore()">
        Load More ...
    </button>
</div>

  <app-footer></app-footer>
  
  <app-orderdetailsbuyer [openOrderDetailsModal] = 'showOrderDetailsModal'></app-orderdetailsbuyer>
