.object-fit_cover {
    object-fit: cover;
}

.previewImage {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

figure img{
    width: 150px;  
    height: 150px; 
    object-fit: scale-down;
}