<app-headerbuyer></app-headerbuyer>

<div class="container">
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <li><a [routerLink]="['/marketplace']">
            <span class="icon is-small">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                  </svg>
                  <i class="bi bi-caret-left-fill" aria-hidden="true"></i>
              </span>
              <span>Back</span> 
          </a></li>
    </nav>
</div>
<!---
<div class="hero">

    
    <div class="columns is-centered">
        <div class="column is-one-fifth">
            <div class="field has-addons">
                <div class="control">
                    <div class="select is-fullwidth">
                        <select name="category">
                            <option value="All">All Items</option>
                            <option value="Products">Products Only</option>
                            <option value="Commissions">Commissions Only</option>
                        </select>
                    </div>
                </div>
                <div class="control">
                    <button type="submit" class="button is-primary has-text-weight-bold">
                        Categorize
                    </button>
                </div>
            </div>
        </div>
        <div class="column is-4 has-text-right">
            <div class="field has-addons">
                <p class="control is-expanded">
                <input class="input" type="text" placeholder="What are you looking for?">
                </p>
                <p class="control">
                    <a class="button is-warning has-text-weight-bold">
                        Search
                    </a>
                </p>
            </div>
        </div>
        
        <div class="column is-narrow has-text-centered">
            <a title="Cart">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                </svg>
            </a>
            &nbsp;
            <a title="Reservations">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                    <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                  </svg>
            </a>
        </div>
    </div>
</div> 
-->
<div class="hero-body">
    <div class="columns is-centered is-multiline">
        <div class="column is-1"></div>
        <div class="column">
            <article class="media">
                <figure class="media-left">
                    <div class="slideshow">
                    <input type="radio" name="images" id="i1" checked>
                    <input type="radio" name="images" id="i2">
                    <input type="radio" name="images" id="i3">
                    <input type="radio" name="images" id="i4">
                    <input type="radio" name="images" id="i5">
                    <input type="radio" name="images" id="i6">
                    <input type="radio" name="images" id="i7">
                    <input type="radio" name="images" id="i8">
                    <input type="radio" name="images" id="i9">
                    <input type="radio" name="images" id="i10">
                    
                    <!-- FIRST IMAGE -->
                    <div class="slide_img" id="one">
                        <div class="container">
                            <div *ngIf="comm_item.images[0]?.imageBase64" > 
                                <img style="height:414px; width:414px; object-fit:cover;" [src]="comm_item.images[0].imageBase64" (click)="onClickOpen(0)" alt="image">
                            </div>
                            <div *ngIf="!comm_item.images[0]?.imageBase64">
                                <img style="height:414px; width:414px; object-fit:cover;" src= "assets/noimg.png" (click)="onClickOpen(0)" alt="">
                            </div>
                        </div>
                        <label for="i1" class="prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                            </svg>
                        </label>
                        <label for="i1" class="next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                            </svg>
                        </label>
                    </div>
                    
                    <!--
                    <div class="slide_img" id="two">
                        <img style="object-fit: cover" src="https://scontent.fmnl9-2.fna.fbcdn.net/v/t1.18169-0/p640x640/15823329_1843608555907785_4396420321329896867_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=174925&_nc_eui2=AeFAGYmX7q46GaOzQv7xNo3uV6pvkYg53bhXqm-RiDnduBYHIM-eDVbzWBnHfXw_IdchnVB_lW5Nmu-JM9M6T10c&_nc_ohc=978B0PrJm6gAX8jzvpZ&_nc_oc=AQlmO5d8__TEVs3vq_eyj6bLXoD3LCRPxNgDSZQL_RabYp_Af92SAwPIeLm4sbFlHEU&_nc_ht=scontent.fmnl9-2.fna&tp=6&oh=13112f5f90603331bd0034e46d3535d1&oe=60C9E1D0" alt="">
                        <label for="i1" class="prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                            </svg>
                        </label>
                        <label for="i3" class="next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                            </svg>
                        </label>
                    </div>

                    
                    <div class="slide_img" id="three">
                        <img style="object-fit: cover" src="https://scontent.fmnl4-5.fna.fbcdn.net/v/t1.18169-0/p640x640/13240074_1732857306982911_4219193087751677379_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=174925&_nc_eui2=AeHOdoRMRcaV1qvhBkHBspPlNSUNa75fRzU1JQ1rvl9HNRWxhvYgP8fcT1FDO7njpfv_gTVJNtgoudC9L_fJfm7_&_nc_ohc=H_cOQekW2JkAX-5AgC7&_nc_ht=scontent.fmnl4-5.fna&tp=6&oh=f7435ac23834430f65313fc376e8bb40&oe=60C92E93" alt="">
                        <label for="i2" class="prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                            </svg>
                        </label>
                        <label for="i4" class="next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                            </svg>
                        </label>
                    </div>

                
                    <div class="slide_img" id="four">
                        <img style="object-fit: cover" src="https://scontent.fmnl4-6.fna.fbcdn.net/v/t1.18169-9/1779301_1392170754384903_1394057998_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeHAiMEaDn12pq9zm6BxSXUglDM23PZt1vuUMzbc9m3W-9i708SdZlHEoebyfa-Lpd6AKQSuMhSbP12l_VEWj9Ah&_nc_ohc=j62bGicQcnEAX9GKxjs&_nc_ht=scontent.fmnl4-6.fna&oh=523aef1ce44370077e33360d4751bcac&oe=60CA04C8" alt="">
                        <label for="i3" class="prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                            </svg>
                        </label>
                        <label for="i5" class="next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                            </svg>
                        </label>
                    </div>

                    
                    <div class="slide_img" id="five">
                        <img style="object-fit: cover" src="https://scontent.fmnl4-6.fna.fbcdn.net/v/t1.18169-9/12821426_1704694819799160_921593318295485032_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=174925&_nc_eui2=AeGf7g67DbCtmgVkHDvSK6RsPswNM4poVnQ-zA0zimhWdLmD-xMWitN-j2nbA5bd2vA8buccygYCJIts0f6c24qQ&_nc_ohc=cAU7B3dFi9EAX-oCNMN&_nc_ht=scontent.fmnl4-6.fna&oh=8b729575b1fa3bc2cead50195f33d473&oe=60CA36D9" alt="">
                        <label for="i4" class="prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                            </svg>
                        </label>
                        <label for="i6" class="next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                            </svg>
                        </label>
                    </div>

                    
                    <div class="slide_img" id="six">
                        <img style="object-fit: cover" src="https://scontent.fmnl25-1.fna.fbcdn.net/v/t1.18169-9/11892114_1641344056134237_8183230798922687317_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=174925&_nc_eui2=AeFGLGeYxjczHtY_Nj7aqpgRjvqvpocLfiuO-q-mhwt-K3FgkyGK8p2Z7vX1g7ydg-tQl9Q_K2956meMLf1p81Ml&_nc_ohc=aY_1jy510QAAX-e7bx5&_nc_ht=scontent.fmnl25-1.fna&oh=4a0f9a28e29c81faf5f7f426f266f6fa&oe=60CA4B46" alt="">
                        <label for="i5" class="prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                            </svg>
                        </label>
                        <label for="i7" class="next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                            </svg>
                        </label>
                    </div>

                    
                    <div class="slide_img" id="seven">
                        <img style="object-fit: cover" src="https://scontent.fmnl4-6.fna.fbcdn.net/v/t1.18169-9/10994933_1558881377713839_1675063558480656294_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=174925&_nc_eui2=AeGU4sWrBBn8-pPHcSBTnRlaqLla1tw5RqyouVrW3DlGrHdV9uMnYkIxUzcp44O-ebyi1MgOdWA5Cou5ci8ndRhj&_nc_ohc=LfPljOjb3EUAX-A5tIE&_nc_ht=scontent.fmnl4-6.fna&oh=016b4633be17a0b81719ee1eb13cb3cd&oe=60C86E76" alt="">
                        <label for="i6" class="prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                            </svg>
                        </label>
                        <label for="i8" class="next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                            </svg>
                        </label>
                    </div>

                    
                    <div class="slide_img" id="eight">
                        <img style="object-fit: cover" src="https://scontent.fmnl4-1.fna.fbcdn.net/v/t31.18172-0/s640x640/20900700_2062037340731571_2378325627782196967_o.jpg?_nc_cat=104&ccb=1-3&_nc_sid=174925&_nc_eui2=AeEPBD7u8fRbiCJJQOaPePnIQOAkh8oAXARA4CSHygBcBJ1JyFn8ux_BEDlSPyy7la3kJbtkgKWxhATiC5o07ujo&_nc_ohc=8yNPMyTdaEIAX8i6PDY&_nc_ht=scontent.fmnl4-1.fna&tp=7&oh=c7853e3f9c758799d63e9ea7a5205670&oe=60C82D13" alt="">
                        <label for="i7" class="prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                            </svg>
                        </label>
                        <label for="i9" class="next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                            </svg>
                        </label>
                    </div>

                    
                    <div class="slide_img" id="nine">
                        <img style="object-fit: cover" src="https://scontent.fmnl4-1.fna.fbcdn.net/v/t1.18169-9/13938598_1765777313690910_362231714288268028_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=174925&_nc_eui2=AeGePRR1U2fvfrQyFU3VNZEQW_sKqJIc6tJb-wqokhzq0jWCEyRcYnHEnYdC-FF2wpx7Eeo6L8-NSo2ZkzivR3kv&_nc_ohc=CQUdLVsMmKoAX_dGqnR&_nc_ht=scontent.fmnl4-1.fna&oh=ce7937fb4d439823a3fdb6ee20fb1d57&oe=60C7BAE8" alt="">
                        <label for="i8" class="prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                            </svg>
                        </label>
                        <label for="i10" class="next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                            </svg>
                        </label>
                    </div>

                    
                    <div class="slide_img" id="ten">
                        <img style="object-fit: cover" src="https://scontent.fmnl25-1.fna.fbcdn.net/v/t1.18169-9/1896895_1403823306552981_63227962_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeFhJGvPBV6nIcNXD2No1Mc9X54m-gjk0rhfnib6COTSuN-VhWOUIdj8VxR-LQ-G3j0xRmlXB09KRN7FvUcBPj29&_nc_ohc=yjcmrLb0mdgAX9rXC6E&_nc_ht=scontent.fmnl25-1.fna&oh=8895e494a82fb9e4763135f792492b75&oe=60C91BB3" alt="">
                        <label for="i9" class="prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                            </svg>
                        </label>
                        <label for="i1" class="next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                            </svg>
                        </label>
                    </div>
                    -->
                    <div class="navi">
                        <label class="dots" id="dot1" for="i1"></label>
                        <label class="dots" id="dot1" for="i2"></label>
                        <label class="dots" id="dot1" for="i3"></label>
                        <label class="dots" id="dot1" for="i4"></label>
                        <label class="dots" id="dot1" for="i5"></label>
                        <label class="dots" id="dot1" for="i6"></label>
                        <label class="dots" id="dot1" for="i7"></label>
                        <label class="dots" id="dot1" for="i8"></label>
                        <label class="dots" id="dot1" for="i9"></label>
                        <label class="dots" id="dot1" for="i10"></label>
                    </div>
                </div>
                </figure>
                <div class="media-content">
                    <div class="block">
                    <!-- I suggest that there must be a character limit for the Item Name-->
                    <p class="text is-size-3 has-text-weight-bold" readonly>
                        {{comm_item.itemname}}
                    </p>
                    <p class="text has-text-primary is-size-3 has-text-weight-bold" readonly>
                        ₱ {{comm_item.price}}
                    </p>
                    &nbsp;
                    <div class="block">
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                        <div class="text is-size-5" readonly>
                            Ave. Rating: &nbsp;
                                <!-- starchecked makes star orange-->
                                <!-- star rating must be based on a value-->
                                <span class="fa fa-star starchecked"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                &nbsp;
                                <!-- Number of People who have rated this item -->
                                <div class="tag is-warning is-medium has-text-weight-semibold">
                                    69&nbsp;
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    </svg>
                                </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="text is-size-6" readonly>
                            Category: 
                            <div class="tag is-danger is-light has-text-weight-bold is-small">
                                {{comm_item.category}}
                            </div>
                        </div>
                        <div class="text is-size-6" readonly>
                            Slots:
                            <div class="tag is-success is-light has-text-weight-bold is-small">
                                {{comm_item.slot}} slot/s left
                            </div>
                        </div>
                    </div>
                    <!-- Buttons -->
                    <div class="buttons is-centered">
                        <button *ngIf="comm_slot == 0" class="button is-medium is-danger has-text-weight-bold" disabled>
                            Not Available
                            &nbsp;
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-clipboard-plus" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                            </svg>
                        </button>
                        <button (click)="addReservation(comm_item)"  *ngIf="comm_slot != 0" class="button is-medium is-danger has-text-weight-bold">
                            Make Reservation
                            &nbsp;
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-clipboard-plus" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                            </svg>
                        </button>
                        <!--
                        <button class="button is-medium is-info is-light is-outlined has-text-weight-bold">
                            Chat
                            &nbsp;
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="42" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                        </button>
                        -->
                    </div>
                    <div class="card is-shadowless has-background-success-light mt-5 pt-1">
                        <div class="columns">
                            <div class="column is-2 ml-4 mt-1">
                                <figure class="image is-64x64">
                                    <div  *ngIf="comm_item.profileImage">
                                        <img class="profileImage"
                                        [src]="comm_item.profileImage">
                                    </div>
                                    <div *ngIf="!comm_item.profileImage">
                                        <img class="profileImage"  src= "assets/noprofpic.png" alt="">
                                    </div>
                                </figure>
                            </div>
                            <div class="column is-narrow">
                                <div class="text is-size-6" readonly>
                                    Seller Name: 
                                    <a class="tag is-white is-light has-text-weight-bold is-medium"
                                    (click)="ViewSeller(comm_item)">
                                        {{comm_item.sellername}}
                                    </a>
                                </div>
                                <div class="text is-size-6" readonly>
                                    Shop Rating: &nbsp;
                                    <!-- starchecked makes star orange-->
                                    <!-- star rating must be based on a value-->
                                    <span class="fa fa-star starchecked"></span>
                                    <span class="fa fa-star starchecked "></span>
                                    <span class="fa fa-star starchecked "></span>
                                    <span class="fa fa-star starchecked"></span>
                                    <span class="fa fa-star starchecked"></span>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="column is-1"></div>
    </div>
    
    <div class="columns is-centered is-multiline">
        <div class="column is-9">
            <hr style="background-color:#e8e6e6">
            <div class="box is-shadowless">
                <div class="text is-size-5 has-text-weight-bold mb-3 pl-5" readonly>
                    Commission Description
                </div>
                <div class="text is-size-6 pl-5" readonly>
                    {{comm_item.description}}
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

<!-- IMAGE MODAL -->
<div class="modal" [ngClass]="openImageModal ? 'is-active' : ''">
    <div class="modal-background" (click)="onClickExit()"></div>
    <div class="modal-content">
        <p class="image" *ngIf="imageSRC">
            <img [src]="imageSRC" alt="">
        </p>
        <p class= "image" *ngIf="!imageSRC">
            <img  src= "assets/noimg.png" alt="">
        </p>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="onClickExit()"></button>
</div>

<!-- SUCCESSFUL MODAL-->
<div class="modal" [ngClass]="openSuccessModal ? 'is-active' : ''">
    <div class="notification has-background-success-dark has-text-white" >
        <button (click)="onClickExit()" class="delete"></button>
        <div class="container has-text-centered"> 
            <span class="icon is-inline-block is-centered mt-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                </svg>
                <i class="bi bi-check-circle"></i>
            </span>
            <p class="is-size-6 has-text-weight-medium ml-3 my-4 size-4">Your request has been added to your <strong>Reservations</strong>!
                <br/> Please wait for the artist's confirmation.</p>
        </div>      
    </div> 
</div>